.button {
    width: fit-content;
    margin: 30px auto;
    button {
        transition: transform 0.2s ease-in-out;
        padding: 10px 16px;
        background-color: rgb(0, 91, 161);
        border: 1px solid rgb(175, 216, 248);
        color: white;
        border-radius: 10px;
        margin: 0px 5px;
        &:nth-child(2) {
            background-color: white;
            color: rgb(0, 91, 161);
        }
        &:hover {
            cursor: pointer;
        }
        &:disabled {
            cursor: not-allowed;
            opacity: 0.7;
        }
        &:active {
            box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.24);
            transform: scale(0.98);
        }
        &:focus {
            outline: none;
        }
    }
}

.grid {
    width: 1000px;
    height: fit-content;
    margin: 30px auto;
}

.description {
    width: fit-content;
    margin: auto;
    display: flex;
    .desc-node {
        margin: 0px 15px;
        display: flex;
        align-items: center;
        p {
            text-transform: uppercase;
            font-weight: 700;
        }
        & div {
            width: 25px;
            height: 25px;
            margin-right: 5px;
            border-radius: 5px;
        }
        .start {
            background-color: #35DB6A;
        }
        .finish {
            background-color: #E03737;
        }
        .wall {
            background-color: #0C2D48;
        }
        .path {
            background-color: #fffe6a;
        }
        .visited {
            background-color: #51DEED;
        }
        .unvisited {
            border: 2px solid rgb(175, 216, 248);
        }
    }
}