.node {
    width: 20px;
    height: 20px;
    outline: 1px solid rgb(175, 216, 248);
    display: inline-block;
    &.node-start {
        background-color: #35DB6A;
    }
    &.node-finish {
        background-color: #E03737;
    }
    &.node-wall {
        animation-name: addWall;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-delay: 0;
        animation-direction: alternate;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }
    &.node-visited {
        animation-name: visitedAnimation;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-delay: 0;
        animation-direction: alternate;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }
    &.node-shortest-path {
        animation-name: shortestPath;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-delay: 0;
        animation-direction: alternate;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: #3879F2;
        border-radius: 100%;
    }
    50% {
        background-color: #3E92DB;
    }
    75% {
        transform: scale(1.2);
        background-color: #38BEF2;
    }
    100% {
        transform: scale(1);
        background-color: #51DEED;
    }
}

@keyframes addWall {
    0% {
        transform: scale(0.6);
        background-color: #0C2D48;
    }
    50% {
        transform: scale(1.2);
        background-color: #0C2D48;
    }
    100% {
        transform: scale(1);
        background-color: #0C2D48;
    }
}

@keyframes shortestPath {
    0% {
        transform: scale(0.6);
        background-color: #fffe6a;
    }
    50% {
        transform: scale(1.2);
        background-color: #fffe6a;
    }
    100% {
        transform: scale(1);
        background-color: #fffe6a;
    }
}