<div id="description">
    <div class="help">
        <i class="fas fa-question"></i>
    </div>
    <div class="content">
        <div class="close">
            <i class="fas fa-times"></i>
        </div>
        <div class="text">
            <h1>Pathfinder</h1>
            <h3>Dijkstra's Algorithm</h3>
            <p>
                The goal of the program is to find the shortest path from start to finish using the Dijkstra algorithm.</p>
            <h4>How to use</h4>
            <ol>
                <li>Program initialize grid where the start and finish are set</li>
                <li>(Optional) Left-clicking on a node sets the wall if it was not set in that place, otherwise the wall is removed from the node</li>
                <li>
                    Clicking on the button <span>Visualize Dijkstra's Algorithm</span> starts the algorithm where you can see the process of searching for the shortest path</li>
            </ol>
        </div>
    </div>
</div>