#description {
    width: 60%;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    border: 2px solid #0C2D48;
    border-radius: 20px;
    &.close__help {
        top: 3%;
        left: 3%;
        width: 50px;
        height: 50px;
        border: none;
        .help {
            display: flex;
            position: relative;
            z-index: 1000;
        }
        .content {
            transition: all ease-in-out 0s;
            display: none;
        }
    }
    .help {
        display: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #0C2D48;
        justify-content: center;
        align-items: center;
        i {
            color: white;
            font-size: 24px;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .content {
        display: block;
        .close {
            width: 35px;
            height: 35px;
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                cursor: pointer;
            }
            i {
                font-size: 26px;
            }
        }
        .text {
            padding: 40px 20px;
            h1,
            h3,
            h4 {
                text-align: center;
                margin-bottom: 10px;
            }
            p {
                padding: 0px 40px;
                margin-top: 20px;
            }
            h4 {
                margin-top: 20px;
            }
            ol {
                margin-top: 20px;
                padding: 0px 55px;
                li {
                    margin: 5px 0px;
                    span {
                        text-transform: uppercase;
                        color: #0C2D48;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}